
* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 80vh;
}

.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 8px;
}

.topleft {
    width: 50%;
    padding: 2% 0px;
}

.topright {
    width: 50%;
    /* padding: 0px 15%; */
    justify-content: center;
    align-items: center;
    max-height: 500px;

}

.section1 {
    height: 500px;
}

.my-1 {
    margin: 13px 0px 13px 0px;
}
.mx-1 {
    margin: 0px 13px 0px 13px;
}
.p
{
    margin:10px;
    padding: 0 150px;
    text-align: center;
    font-weight: 510;

}
.font
{
    font-family: 'Playfair Display', serif;
}
.font-pricing
{
    font-weight: 600;
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
.box
{
    /* padding: 12px 22px; */
    display: flex;
    margin:10px 0px 15px 50px;
    min-width: 320px;
    /* width: 0px; */
    height: 190px;
    border: 2px solid rgb(227 74 55);;
    text-align: center;
    border-radius: 8px;
}
.box ul{
    list-style: none;
}
.box ul li{
    margin: 10px 0px;
}
.price
{
    font-weight:550 ;
}

.section2
{
    display: flex;
    flex-direction: column;
}

/* .section3
{
    
}  */